section.fungus
    .fungus__wrap.item
        .logo__icon
        h3|Грибок – это опасная инфекция
        p.fungus__subtitle-text|которая угрожает вам и вашим близким, ведь с каждым днем грибок приводит к:
        .fungus__item-wrap

            .fungus__item
                .fungus__item-top
                    .fungus__circle.fungus__allergy-picture
                        svg.fungus__circle-svg(viewBox='5 20 190 150', xmlns='http://www.w3.org/2000/svg') 
                            circle(cx='105', cy='100', r='90')
                            //- circle(cx='12rem', cy='12rem', r='10.44rem')
                    p.fungus__top-text|Сложным формам аллергии
                .fungus__item-bottom
                    p.fungus__bottom-text|Может появится сильная реакция на на привычную пищу, одежду, средства гигиены

            .fungus__item
                .fungus__item-top
                    .fungus__circle.fungus__finger-picture
                        svg.fungus__circle-svg(viewBox='5 20 190 150', xmlns='http://www.w3.org/2000/svg') 
                            circle(cx='105', cy='100', r='90')
                    p.fungus__top-text|Потере ногтя и ампутации пальца
                .fungus__item-bottom
                    p.fungus__bottom-text|После полного разрушения ногтя грибок распространяется на палец, что приводит к его ампутации

            .fungus__item
                .fungus__item-top
                    .fungus__circle.fungus__organ-picture
                        svg.fungus__circle-svg(viewBox='5 20 190 150', xmlns='http://www.w3.org/2000/svg') 
                            circle(cx='105', cy='100', r='90')
                    p.fungus__top-text|Тяжелому поражению внутренних органов
                .fungus__item-bottom
                    p.fungus__bottom-text|Может привести к повреждениям мозга, слепоте, отказу печени, почек и сердца
        
        .fungus__statistics-wrap
            p.fungus__statistics-text|
                                    span.span__fungus-statistics|Статистика: 
                                    |каждые 60 секунд врачи диагностируют опасные поражения внутренних органов, 
                                    |вызванные грибком, у 1-го пациент
.wave-bottom
