h2 {
    color: #383334;
    font-size: 4.88rem;
    font-weight: 900;
}

.span__h2 {
    font-size: 3.4rem;
    position: relative;
    font-weight: 700;

    &::before {
        content: '';
        position: absolute;
        width: 12.7rem;
        height: 0.5rem;
        background: #ff6b00;
        bottom: 0rem;
        left: 0.1rem;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        width: 13.7rem;
        height: 0.5rem;
        background: #a7c93d;
        bottom: 0rem;
        right: 0.1rem;
        z-index: -1;
    }

}

.header {

    &__center-right{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 78.88rem;
        margin-top: 4rem;
        transform: translateX(5rem);
    }

    &__center-about{
        width: 43.33rem;
    }

    &__center-form{
        width: 30rem;
    }

    &__about-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 4.88rem;
    }

    &__about-number-wrap{
        display: flex;
        margin-right: 2rem;
    }

    &__about-number{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 7.5rem;
        height: 7.5rem;
        background: #a7c93d;
        border: 1rem solid #e8edc9;
        border-radius: 4rem;
        color: #fff;
        font-weight: 700;
        font-size: 2.22rem;
    }

    &__about-text{
        color: #444;
        font-size: 2.22rem;
        font-weight: 400;
    }

}

.span__about-text{
    color: #000;
    font-weight: 600;
}

.bottom-orange-line{
    position: relative;

    &::before{
        content: '';
        position: absolute;
        width: 9.8rem;
        height: 0.35rem;
        background: #ff6b00;
        bottom: 0rem;
    }
    
}

.bottom-green-line{
    position: relative;

    &::before{
        content: '';
        position: absolute;
        width: 4.8rem;
        height: 0.35rem;
        background: #a7c93d;
        bottom: 0rem;
    }
}


.arrow-first{
    position: relative;

    &::before{
        content: '';
        position: absolute;
        background: url('/img/arrow-2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 1rem;
        height: 16.22rem;
        top: -3.9rem;
        right: 3.2rem;
    }

}




.header{

    &__form-wrap{
        width: 100%;
        background: #fff;
        border-radius: 1.8rem;
        overflow: hidden;
    }

    &__center-form{
        height: max-content;
        background: #a7c93d;
        border-radius: 2.8rem;
        padding: 0.8rem;
        position: relative;
        transform: translateX(2rem);
    }

    &__center-free{
        width: 16.66rem;
        height: 3rem;
        position: absolute;
        left: 23%;
        background: #a7c93d;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 0rem 0.8rem 0.8rem 0.8rem;

        &::before{
            content: '';
            background: #f3f9ff;
            position: absolute;
            top: -1rem;
            width: 90.5%;
            height: 50%;
        }


        &-item{
            background: #f3f9ff;
            width: 100%;
            height: 100%;
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            position: relative;

            &::before{
                content: 'Бесплатно';
                position: absolute;
                right: 0.8rem;
                top: -0.8rem;
                color: #444;
                font-size: 1.7rem;
                font-weight: 400;
            }

        }

    }

    &__center-discount{
        padding-top: 4.8rem;
    }

    &__discount-text{
        color: #000;
        font-size: 2.44rem;
        font-weight: 400;
        text-align: center;
        margin: 0rem 3rem;
    }

    &__prices-story{
        margin: 2rem 2rem;
        display: flex;
        flex-direction: row;
    }

    &__old-price, &__new-price{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__old-price-text{
        color: #666;
        font-weight: 400;
        font-size: 1.55rem;
        margin-bottom: 0.5rem
    }

    &__old-price-price{
        color: #0b0b0b;
        font-weight: 300;
        font-size: 3.77rem;
        position: relative;
        margin: 1rem;

        &::before, &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 0.2rem;
            background: #ff6b00;
            left: 0rem;
        }

        &::before{
            top: 1.8rem;
            transform: rotate(12deg);
        }

        &::after{
            transform: rotate(-12deg);
            bottom: 1.8rem;
        }
        
    }

    &__new-price-text{
        color: #000;
        font-weight: 500;
        font-size: 1.55rem;
        margin-bottom: 0.5rem;
    }

    &__new-price-price-wrap{
        border-radius: 1rem;
        overflow: hidden;
    }

    &__new-price-price{
        color: #0b0b0b;
        font-weight: 700;
        font-size: 3.77rem;
        padding: 1rem;
        background: #ffca02;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0rem 2.1rem;
    }

    &__input-name, &__input-phone{
        width: 24.44rem;
        height: 7.22rem;
        background: #eef2f7;
        border-radius: 13rem;
        box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
        border: none;
        color: #666;
        font-weight: 400;
        font-size: 1.77rem;
        padding-left: 6.11rem;
        margin-bottom: 1.1rem;
    }

    &__input-name-svg{
        position: absolute;
        left: 4.5rem;
        top: 2rem;
        fill: #e87845;
        transition: 0.3s all ease;
        width: 2.11rem;
        height: 2.55rem;
    }
    &__input-phone-svg{
        position: absolute;
        left: 4.5rem;
        top: 10.5rem;
        fill: #e87845;
        transition: 0.3s all ease;
        width: 2.33rem;
        height: 2.66rem;
    }

    &__input-name-wrap{
        &:focus-within .header__input-name-svg{
            fill: #a7c93d;
            transition: 0.3s all ease;
        }
    }

    &__input-phone-wrap{
        &:focus-within .header__input-phone-svg{
            fill: #a7c93d;
            transition: 0.3s all ease;
        }
    }

    &__btn-submit-wrap{
        display: flex;
        border-radius: 5rem;
        overflow: hidden;
        padding: 1rem;
        background: #ffca02;
        margin-top: 0.3rem;
    }

    &__btn-submit{
        font-size: 3.11rem;
        font-weight: 700;
        color: #000;
        background: #ffca02;
        border: 0.3rem solid #ffdb4e;
        border-radius: 4rem;
        padding: 1rem 3rem;
        line-height: 0.7;
        transition: 0.3s all ease;

        &:hover{
            border: 0.3rem solid #a7c93d;
            transition: 0.3s all ease;
        }

    }

    &__meter-wrap{
        margin-top: 1.8rem;
        padding: 0rem 1.8rem;
    }

    &__meter-text{
        color: #333;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }

    &__shield-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #eef2f7;
        margin-top: 1.66rem;
        width: 100%;
        padding: 1.22rem 3.2rem 1.44rem 3.2rem;
    }

    &__shield-svg{
        width: 2.11rem;
        height: 2.22rem;
    }

    &__shield-text{
        color: #666;
        font-size: 1.55rem;
    }

}


.smal-machine-svg{
    position: absolute;
    top: -0.7rem;
    left: 0.8rem;
    fill: #fd7532;
    width: 3rem;
    height: 1.66rem;
}

.header__price-arrow-svg{
    position: absolute;
    left: 28rem;
    top: 20rem;
    width: 5.44rem;
    height: 25.88rem;
}

.span__discount-text{
    color: #fd7532;
    font-weight: 500;
}

.span__header-btn{
    font-size: 1.77rem;
}

.span__header-meter{
    color: #9dbd39;
    font-weight: 500;
}