.header__circle 
    svg.header__circle-svg(viewBox='0 0 160 170', xmlns='http://www.w3.org/2000/svg') 
        circle(cx='77', cy='70', r='78')
.header__product
    .header__product-l
    .header__product-m
    .header__product-s