.body {
  max-width: 2560px;
  min-width: 320px;
  margin: 0 auto;

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

// .wrapper {
//   width: 1170px;
//   // display: flex;
//   // flex-direction: column;
// }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}