html {
  font-size: 9px;
}


@media (min-width: 3840px) {

  html{
      font-size: 18px;
  }

}


@media screen and (min-width: 1400px) and (max-width: 3839.8px) {
  html{
      font-size: 9px;
  }
}


@media screen and (max-width: 1399.8px) {

  html {
    font-size: 6.75px;
    // font-size: 5.75px;
  }

}

* {
  box-sizing: border-box;
}

.body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

button{
  cursor: pointer;
}

h3{
  color: #383334;
  font-size: 5.33rem;
  font-weight: 900;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

h4{
  color: #000;
  font-size: 2.66rem;
  line-height: 3.11rem;
  font-weight: 700;
}

.logo__icon{
  display: flex;
  width: 10.22rem;
  height: 7.22rem;
  background: url('/img/2-layers.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo__icon-two{
  display: flex;
  width: 6.77rem;
  height: 6.77rem;
  background: url('/img/Logo.png');
  background-repeat: no-repeat;
  background-size: cover;
}


svg{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  section{
    padding: 3rem;
  }
}