html {
  font-size: 9px;
}


@media (min-width: 3840px) {

  html{
      font-size: 18px;
  }

}


@media screen and (min-width: 1400px) and (max-width: 3839.8px) {
  html{
      font-size: 9px;
  }
}


@media screen and (max-width: 1399.8px) {

  html {
    font-size: 6.75px;
  }

}

* {
  box-sizing: border-box;
}

.body {
  max-width: 2560px;
  // max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-size: 1.6rem;
  // font-size: 1rem;
  font-family: "Roboto", sans-serif;

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// .wrapper {
//   width: 1170px;
//   // display: flex;
//   // flex-direction: column;
// }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

button{
  cursor: pointer;
}

h3{
  color: #383334;
  font-size: 5.33rem;
  font-weight: 900;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.logo__icon{
  display: flex;
  width: 10.22rem;
  height: 7.22rem;
  background: url('/img/2-layers.png');
  background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
}