<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title EVERAD TEST
        link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap', rel='stylesheet')
        link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="./css/main.css")
    body.body
        .body__wrap

            include ../blocks/header/header.pug
            include ../blocks/fungus/fungus.pug
            include ../blocks/why/why.pug
            include ../blocks/effective/effective.pug
            include ../blocks/how/how.pug
        script(src="./js/main.js")
        script|new WOW().init();