.header {
  &__logo-link {
    display: flex;
    align-items: center;
    width: max-content;
  }

  &__logo-icon {
    display: flex;
    position: relative;
    width: 9.11rem;
    height: 6.22rem;

    &::before {
      content: "";
      width: 5.55rem;
      height: 5.55rem;
      position: absolute;
      background: url("../img/Logo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 0;
      top: 0;
    }

    &::after {
      content: "";
      width: 3.55rem;
      height: 3.55rem;
      position: absolute;
      background: url("../img/Logo2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      bottom: 0;
      right: 0;
    }
  }
}

h1 {
  margin-left: 1.77rem;
  margin-right: 8.77rem;
  font-size: 2.44rem;
  color: rgb(56, 51, 52);
  line-height: 1.818;
  font-weight: 900;
}